@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-montserrat: var(--font-montserrat);
	--font-raleway: var(--font-raleway);
}

@theme {
	--color-cube-secondary: #cbb37f;
	--color-base: rgba(25, 18, 2, 0.9);
	--color-carousel: #c4a255;
	--color-price-header: #bda778;
	--color-hero-highlight: #c4a255;
	--color-hover: #97772f;
	--color-header-mobile-bg: #8e734e;
	--color-header-mobile-border: #a98a5f;
	--color-intro-mobile-advert-bg: #fcf9f1;
	--color-section-body: #fafafa;
	--color-section-heading-highlight: #a37f2f;
	--color-section-header-bg: #d7c294;
	--color-section-detail-bg: #e2cfa580;
	--color-section-detail: #e2cfa580;
	--color-quote: #ede0c6;
	--font-montserrat: var(--font-montserrat);
	--font-raleway: var(--font-raleway);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

@utility clip-half-circle {
	clip-path: circle(50% at 88% 50%);
}

body {
	background: var(--background);
	color: var(--foreground);
}

html {
	interpolate-size: allow-keywords;
}
