@import 'tailwindcss';

:root {
	--background: #ffffff;
	--foreground: #171717;
	--font-montserrat: var(--font-montserrat);
	--font-raleway: var(--font-raleway);
}

@theme {
	--color-bg-white: rgba(255, 255, 255, 0.93);
	--color-base: rgba(25, 18, 2, 0.9);
	--color-hero-highlight: #c4a255;
	--color-hover: #97772f;
	--color-header-mobile-bg: #8e734e;
	--color-header-mobile-border: #a98a5f;
	--color-carousel: #c4a255;
	--color-intro: #ffffff;
	--font-montserrat: var(--font-montserrat);
	--font-raleway: var(--font-raleway);
}

@theme inline {
	--color-background: var(--background);
	--color-foreground: var(--foreground);
	--font-montserrat: var(--font-montserrat);
}

@media (prefers-color-scheme: dark) {
	:root {
		--background: #0a0a0a;
		--foreground: #ededed;
	}
}

body {
	background: var(--background);
	color: var(--foreground);
}
